* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 20px;
}
body {
  min-height: 100px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 'forms lists';
  grid-template-rows: auto;
}

main {
  background-color: #eee;
  grid-area: lists;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

aside {
  grid-area: forms;
  background-color: #ddd;
}

.actor-container {
  padding: 2rem;
  margin: 1rem;
  border: 1px solid #ddd;
  flex-basis: 40%;
  background-color: hsl(30deg, 50%, 80%);
  color: hsl(30deg, 50%, 20%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}
.actor-container::before {
  display: block;
  content: 'Actors';
  transform: rotate(-5deg) translate(-1rem, -2rem);
  text-shadow: 2px 2px 4px #999;
  font-weight: 500;
  font-size: 2rem;
}

.movie-container {
  padding: 2rem;
  margin: 1rem;
  border: 1px solid #ddd;
  flex-basis: 40%;
  background-color: hsl(200deg, 50%, 80%);
  color: hsl(200deg, 50%, 20%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}
.movie-container::before {
  display: block;
  content: 'Movies';
  transform: rotate(-5deg) translate(-1rem, -2rem);
  text-shadow: 2px 2px 4px #999;
  font-weight: 500;
  font-size: 2rem;
}

.movie-form,
.actor-form {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  flex-basis: 100%;
  background-color: hsl(140deg, 50%, 80%);
  color: hsl(140deg, 50%, 20%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
.movie-form input,
.movie-form button,
.actor-form input,
.actor-form button {
  font-size: inherit;
  font-weight: inherit;
  margin: 0.25rem;
  padding: 0.25rem 1rem;
}

.stats-container {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  flex-basis: 100%;
  background-color: hsl(240deg, 50%, 80%);
  color: hsl(240deg, 50%, 20%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

footer {
  padding: 1rem;
}
footer ol {
  list-style-type: decimal;
  list-style-position: inside;
}
